<article class="container blogPosts">
  <h1>{{this.title}}</h1>
  <h5><a href={{{this.authorUrl}}}>
    <h5>{{{this.author}}}</h5>
  </a></h5>
  <h5>Published on {{this.date}}, {{this.timestamp}}</h5>
  <h6>Category: {{this.category}}</h6>
  <button class="edit button-primary" data-dbId="{{speshID}}">Edit Post</button>
  <div class="parBod">{{{this.markdown}}}</div>
  <div class="read-more"><button name="button" class="readButt button-primary">Read more</button>
  </div>
</article>
